*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h2{font-size: 2.5em;}
p{font-size: 1.25em;}

button {
    font-size: 0.7em;
    font-weight: bold;
    padding: 10px 25px;
    margin: 25px;
    border-radius: 9px;
    border: 2px solid transparent;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.65);
    color: white;
    background-color: rgb(138, 43, 226);
    cursor: pointer;
    transition: all 300ms ease;
}

button:hover {
    background-color: rgb(110, 31, 184);
    transform: scale(1.09);
    border-color: rgb(0, 0, 0, 0.1);
}

.container {
    max-width: 1400px;
    margin: auto;
}

header {
    background: #12171C;
}

header .logo {
    width: 80px;
    height: 90px;
    cursor: pointer;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 16px;
}

header a {
    padding: 7px 14px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: all 400ms ease;
}


header a:hover {
    color: blueviolet;
}

#hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 65vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./img/Background/hero/Background-quirofano-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero img {
    max-width: 100%;
}


#Perfil-pro .container {
    text-align: center;
    padding: 200px 12px;
}

#Perfil-pro .foto-perfil img {
    width: 200px;
    height: 250px;
    border-radius: 25px 0px;
    border: 1px solid rgba(0, 0, 0, 0.36);
    box-shadow: 2px 7px 13px rgba(0, 0, 0, 0.36);

}

#Perfil-exp {
    background-color: #12171C;
    color: white;
}

#Perfil-exp .container {
    text-align: center;
    padding: 200px 12px;
}

#Perfil-exp .container img {
    width: 200px;
    height: 250px;
    

}

#Perfil-hab .container {
    text-align: center;
    padding: 200px 12px;
}

#Perfil-mi {
    background-color: #12171C;
    color: white;
}

#Perfil-mi .container {
    text-align: center;
    padding: 200px 12px;
}

footer p {
    color: rgb(122, 122, 122);
}

footer .container {
    text-align: center;
    padding: 40px 12px;
}

footer .redes-sociales img {
    padding: 0px 20px;
}

#button-up {
    width: 37px;
    height: 37px;
    background: blueviolet;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
    border: 3.5px solid transparent;
    transition: all 300ms ease;
    transform: scale(0);
}
#button-up:hover {
    transform: scale(1.08);
    border-color: rgb(0, 0, 0, 0.1);
}

@media (min-width: 720px){

    p {
        font-size: 1.5em;
    }

    h2 {
        font-size: 3.2em;
    }

    header {
        position: fixed;
        width: 100%;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;

    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 16px;
    }

    #hero {
        height: 90vh;
    }

    button {
        font-size: 1.3em;
        padding: 15px 30px;
        margin-top: 70px;

    }

    #Perfil-pro .container {
        justify-content: center;
        align-items: center;
    }

    #Perfil-pro .foto-perfil img {
        height: 300px;
        width: 250px;
        
    }

    #Perfil-pro .texto {
        padding: 50px;
    } 
}